<!DOCTYPE html>
<html ng-app='ControllerAsApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service Through a Provider</h1>
    <h2>ng-if / ng-show / ng-hide </h2>
<div ng-controller="ShoppingListController as list">
<input type="text" ng-model="list.itemName" placeholder="Add Item">
<input type="text" ng-model="list.itemQuantity" placeholder="Quantity">
<button ng-click="list.addItem()">Add item to List</button>
<div>
  <ol>
    <li ng-repeat="item in list.items">This is name :{{item.name}} 
      and This is Quantity : {{item.quantity}}
      <button ng-click="list.removeItem($index)">Delete</button>
    </li>
  </ol>
  <!-- <div class="error" ng-if="list.errorMessage">
    Error Message : {{list.errorMessage}}
  </div> -->
  <!-- <div class="error" ng-show="list.errorMessage">
    Error Message : {{list.errorMessage}}
  </div> -->
  <div class="error" ng-hide="!list.errorMessage">
    Error Message : {{list.errorMessage}}
  </div>
</div>
</div>
  </body>
</html>