<!DOCTYPE html>
<html ng-app="ShoppingListApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body { font-size: 1.3em; background-color: rgb(132, 245, 149); text-align: start;text-decoration-color: white; }</style>
    <title>Costum Services</title>
  </head>
  <body>
    <h1>Costum Services</h1>
    <div>
      <div ng-controller="ShoppingListAddController as itemAdder">
        <input type="text" placeholder="item name" ng-model="itemAdder.itemName">
        <input type="text" placeholder="item quantity"  ng-model="itemAdder.itemQuantity">
        <button class="addButton" ng-click="itemAdder.addItem()">Add Item</button>
      </div>
      <div ng-controller="ShoppingListShowController as ShowList">
        <ul>
          <li ng-repeat="item in ShowList.items">{{item.name}} of {{item.quantity}}
            <button class="removeButton" ng-click="ShowList.removeItem($index)">Remove Item</button>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </body>
</html>